<htmL>
    <head>
            <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
        <title>
            Welcome to the World of Cars
        </title>
    </head>
    <body>
        <div>
            <div>
                <a href ="/movies/new" >Add Movie</a>
            </div>
        </div>
    </body>
</htmL>