<html>
    <head>
            <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
    </head>
        <% include ./partials/header %>
    <body>
        <% movies.forEach(function(movie){ %>
            <div>
                <h2><%=movie.name %></h2>
                <p><%= movie.rating %></p>
                <p><%=movie.available %></p>
            </div>
        <% }) %>
    </body>
</html>